
/**************************/
/*Hero section*/
/**************************/
.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}
.hero{
    max-width: 130rem;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:9.6rem;
    align-items: center;
    padding:0 3.2rem;
}
.hero-img{
    width: 100%;
}
.hero-description{
    font-size: 2rem;
    margin-bottom: 4.8rem;
}

.delivered-meals{
    display: flex;
    align-items: center;
    margin-top: 8rem;
    gap:1.6rem
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height:4.8rem;
    width:4.8rem;
    border-radius: 50%;
    margin-left: -1.6rem;
    border:3px solid #fff;
}
.deliverd-text{
    font-size: 1.8rem;

}
.deliverd-text span{
    color:#e67e22;
    font-weight: 700;
}

/**************************/
/*How It Work section*/
/**************************/
.section-how{
    padding:9.6rem 0;
}
.step-img{
    width: 35%;
}
.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color:#ddd;
    margin-bottom: 1.2rem;
}
.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.step-img-box::before,.step-img-box::after{
    content: "";
    display: block;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.step-img-box::before{
 
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom:60%;
  z-index: -2;
}
.step-img-box::after{
    background-color: #fae5d3;
    width: 50%;
    padding-bottom:50%;
    z-index: -1;
  }