
/**************************/
/*Hero section*/
/**************************/
.section-hero{
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}
.hero{
    max-width: 130rem;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:9.6rem;
    align-items: center;
    padding:0 3.2rem;
}
.hero-img{
    width: 100%;
}
.hero-description{
    font-size: 2rem;
    margin-bottom: 4.8rem;
}

.delivered-meals{
    display: flex;
    align-items: center;
    margin-top: 8rem;
    gap:1.6rem
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height:4.8rem;
    width:4.8rem;
    border-radius: 50%;
    margin-left: -1.6rem;
    border:3px solid #fff;
}
.deliverd-text{
    font-size: 1.8rem;

}
.deliverd-text span{
    color:#e67e22;
    font-weight: 700;
}

/**************************/
/*Featured In  section*/
/**************************/
.section-featured{
    padding:4.8rem 0 3.2rem 0;
}
.heading-featured-in{
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.75;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}
.logos{
    display: flex;
    justify-content: space-around;
}
.logos img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}
/**************************/
/*How It Work section*/
/**************************/
.section-how{
    padding:9.6rem 0;
}
.step-img{
    width: 35%;
}
.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color:#ddd;
    margin-bottom: 1.2rem;
}
.step-description{
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.step-img-box::before,.step-img-box::after{
    content: "";
    display: block;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.step-img-box::before{
 
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom:60%;
  z-index: -2;
}
.step-img-box::after{
    background-color: #fae5d3;
    width: 50%;
    padding-bottom:50%;
    z-index: -1;
  }
  /**************************/
/*Meal section*/
/**************************/
.section-meal{
    padding:9.6rem 0;
}
.meal{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 9px;
    overflow: hidden;
    transition: all 0.3s;
}
.meal:hover{
    transform: translateY(-1.2rem);
}
.meal-img{
    width: 100%;
    
}
.meal-content{
    padding:3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags{
    margin-bottom: 1.2rem;
}
.tag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #51cf66;
    color:#333;
    border-radius: 100px;
}
.meal-title{
    font-size: 2.4rem;
    color:#333;
    font-weight:600;
    margin-bottom: 3.2rem;
}
.meal-attributes{
    list-style:none;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.meal-attribute{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap:1.6rem;
}
.meal-icon{
    height: 2.4rem;
    width: 2.4rem;
    color:#e67e22;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:1.6rem;
}
.list-icon{
    width: 3rem;
    height: 3rem;
    color: #e67e22;
}
.list-item{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap:1.6rem;
}
.l